{#
/**
 * @file
 * Theme override for a feed icon.
 *
 * Available variables:
 * - url: An internal system path or a fully qualified external URL of the feed.
 * - attributes: Remaining HTML attributes for the feed link.
 *   - title: A descriptive title of the feed link.
 *   - class: HTML classes to be applied to the feed link.
 */
#}
<a href="{{ url }}" class="button button-secondary foreningsmentor-intra--feed-icon">
  {{ 'CSV export of @title'|t({'@title': title}) }}
</a>
