.effort {
  &-inner {
    height: 100%;
  }
  &-thumbnail {
    position: absolute;
    top: $spacer;
    right: $spacer*2;
    width: $spacer*2.5;
    height: $spacer*2.5;
    @include round-image;
  }
}
