.hero {
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    height: calc(100vh - #{$spacer*6});
    max-height: 640px;
  }
  .blok-1 {
    background-color: $primary;
  }
  .blok-2 {
    background-color: $white;
  }
  &.subpage {
      height: auto;
  }
}
