/*
* Navigation
*/

.navbar {
  height: $spacer*4;
  &-brand {
    height: 100%;
    img{
      max-height: $spacer*5;
      @include media-breakpoint-up(sm) {
        max-height: $spacer*6;
      }
      @include media-breakpoint-up(md) {
        max-height: $spacer*8;
      }
      @include media-breakpoint-up(lg) {
        max-height: $spacer*10;
      }
    }
  }
  .nav {
    &-link {
      font-weight: 900;
      color: $black;
      transition: color .2s ease-in, opacity .2s ease-in;
      &:hover {
        color: $primary;
        transition: color .4s ease-out,;
        &.active {
          color: $black;
        }
      }
      &.active {
        opacity: .65;
      }
    }
  }
}
