.teasers {
  .image {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: $spacer*10;
    height: $spacer*10;
    @include media-breakpoint-up(md) {
      width: $spacer*15;
      height: $spacer*15;
    }
    img {
      object-fit: cover;
      max-width: 100%;
      height: 100%;
    }
  }
  color: $white;
}
