.testimonial {
  @include round-image;
  &-image {
    max-height: $spacer*10;
  }
  &-text {
    font-family: $font-family-serif;
    font-size: $font-size-base * 1.5;
  }
}
.carousel {
  &-indicators {
    position: static;
    width: 100%;
    margin: auto;
    li {
      background-color: $gray-200;
      width: $spacer*1.2;
      height: $spacer*1.2;
      border-radius: 50%;
      margin-left: $spacer/2;
      margin-right: $spacer/2;
      transition: background-color .2s ease-in;
      &:hover {
        background-color: lighten($primary, 5%);
        transition: background-color .4s ease-out;
      }
      &.active {
        background-color: $primary;
      }
    }
  }
  &-control {
    &-next, &-previous {
      color: $primary;
    }
  }
}
