ul.menu.foreningsmentor-intra--menu--intranet  {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.menu.foreningsmentor-intra--menu--intranet .menu-item {
  list-style-type: none;
}

.foreningsmentor-intra--menu--intranet li {
  float: left;
}

.foreningsmentor-intra--menu--intranet li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.foreningsmentor-intra--menu--intranet li a:hover {
  background-color: #222;
}

.foreningsmentor-intra--menu--intranet li a.is-active {
  color: white;
  background-color: #444;
}

.foreningsmentor-intra--journal-entry {
  margin-right: 1em;
  border-bottom: 1px solid #bbb;
}

.foreningsmentor-intra--journal {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

.foreningsmentor-intra--journal-add-entry {
  border: 1px solid #ccc;
  padding: 1em;
}

.foreningsmentor-intra--journal-entry > .node__meta {
  font-size: 0.8em;
  font-style: italic;
}

.field {
  margin-bottom: 1em;
}
