ul.menu.foreningsmentor-intra--menu--intranet  {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.menu.foreningsmentor-intra--menu--intranet .menu-item {
  list-style-type: none;
}

.foreningsmentor-intra--menu--intranet li {
  float: left;
}

.foreningsmentor-intra--menu--intranet li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.foreningsmentor-intra--menu--intranet li a:hover {
  background-color: #222;
}

.foreningsmentor-intra--menu--intranet li a.is-active {
  color: white;
  background-color: #444;
}

.foreningsmentor-intra--journal-entry > .node__meta {
  font-size: 0.7em;
  font-style: italic;
  margin-top: -1em;
}

.field {
  margin-bottom: 1em;
}

.foreningsmentor-intra--fields {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

.foreningsmentor-intra--heading {
  color: black;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.foreningsmentor-intra--journal-heading-add {
  color: black;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.foreningsmentor-intra--views-table-wrapper {
  overflow-x: auto;
}

.foreningsmentor-intra--no-results {
  margin-bottom: 1em;
  font-style: italic;
}

.foreningsmentor-intra--activity-ended {
  color: grey;
  text-decoration-line: line-through;
}

.foreningsmentor-intra--activity-headline {
  margin-top: 1em;
}

.foreningsmentor-intra--activity-ul {
  padding: 0;
}
