.course-view-unseen-journal-entries {
  color: white;
  background: orange;
  border-radius: 20px;
  padding: 5px 10px;
}

ul.menu.foreningsmentor-intra--menu--intranet {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  overflow: hidden;
}

ul.menu.foreningsmentor-intra--menu--intranet .menu-item {
  list-style-type: none;
}

ul.menu.foreningsmentor-intra--menu--intranet .menu-item--expanded,
ul.menu.foreningsmentor-intra--menu--intranet .menu-item--collapsed {
  list-style-image: none;
}

.foreningsmentor-intra--menu--intranet li {
  float: left;
  margin-right: 1em;
}

.foreningsmentor-intra--menu--intranet li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  box-shadow: none!important;
  border-radius: 5px;
  border: 1px solid rgb(211, 212, 217);
  font-weight: 500;
}

.foreningsmentor-intra--menu--intranet li a:hover {
  border-color: #777;
}

.foreningsmentor-intra--menu--intranet li a.is-active {
  background: rgb(211, 212, 217);
  border-color: #777;
}

.foreningsmentor-intra--journal-entry > .node__meta {
  font-size: 0.7em;
  font-style: italic;
  margin-top: -1em;
}

.field {
  margin-bottom: 1em;
}

.foreningsmentor-intra--fields {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

.foreningsmentor-intra--heading {
  color: black;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.foreningsmentor-intra--journal-heading-add {
  color: black;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.foreningsmentor-intra--views-table-wrapper {
  overflow-x: auto;
}

.foreningsmentor-intra--no-results {
  margin-bottom: 1em;
  font-style: italic;
}

.foreningsmentor-intra--activity-ended {
  color: grey;
  text-decoration-line: line-through;
}

.foreningsmentor-intra--activity-headline {
  margin-top: 1em;
}

.foreningsmentor-intra--activity-ul {
  padding: 0;
}

.foreningsmentor-intra--feed-icon {
  margin: 1em;
  float: right;
}
