.bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.bg-orange {
  background-color: var(--orange);
}

.bg-gray {
  background-color: var(--gray-100);
}
