/* Bootstrap overrides */

:root {
  --white: #ffffff;
  --gray-100: #f1f1f1;
  --gray-200: #eaeaea;
  --gray-300: #e6e6e6;
  --gray-400: #dfdfdf;
  --gray-500: #d6d6d6;
  --gray-600: #9d9d9d;
  --gray-700: #858585;
  --gray-800: #525252;
  --gray-900: #333333;
  --black: #222222;

  --pink: #ee0043;
  --pink-light: #fab2c6;
  --purple: #673ab7;
  --purple-light: #d1c4e9;
  --blue: #3661d8;
  --blue-light: #c2cff3;
  --navy: #2b3ba2;
  --navy-light: #bfc4e3;
  --petroleum: #259799;
  --petroleum-light: #7ccdce;
  --green: #008850;
  --green-light: #b2dbca;
  --yellow: #ffe13d;
  --yellow-light: #fff6c4;
  --orange: #f65034;
  --orange-light: #ffcfc1;
  --red: #d32f2f;
  --red-light: #f2c0c0;

  /* Set primary color */
  --primary: var(--petroleum);

  /* Set secondary color */
  --secondary: var(--black);

  /* Set default font */
  --font-family-sans-serif:
    Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --headings-font-family: var(--font-family-sans-serif);

  /* Set serif font */
  --font-family-serif: Georgia, serif;

  /* Spacer helper */
  --spacer: 1rem;

  /* Font size base */
  --font-size-base: 1rem;
}

.lead {
  font-family: var(--font-family-serif), serif;
}
