.testimonial-image {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  max-height: calc(var(--spacer) * 10);
}

.testimonial-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-text {
  font-family: var(--font-family-serif);
  font-size: calc(var(--font-size-base) * 1.5);
}

.carousel-indicators {
  position: static;
  width: 100%;
  margin: auto;
}

.carousel-indicators li {
  background-color: var(--gray-200);
  width: calc(var(--spacer) * 1.2);
  height: calc(var(--spacer) * 1.2);
  border-radius: 50%;
  margin-left: calc(var(--spacer) / 2);
  margin-right: calc(var(--spacer) / 2);
  transition: background-color 0.2s ease-in;
}

.carousel-indicators li:hover {
  background-color: color-mix(in srgb, var(--primary) 95%, white 5%);
  transition: background-color 0.4s ease-out;
}

.carousel-indicators li.active {
  background-color: var(--primary);
}

.carousel-control-next,
.carousel-control-previous {
  color: var(--primary);
}
