<h1>Tak for jeres tilmelding af {{ params.form_values.child_name }} til ForeningsMentor.</h1>
<p>Vi bekræfter hermed, at vi har modtaget tilmeldingen.</p>

<p>Vi gennemgår nu de modtagne oplysninger og vil inden for 14 dage kontakte jer for at aftale det videre forløb.</p>

<p>Venlig hilsen</p>
<p>ForeningsMentor teamet</p>

<p>//</p>

<p>Thank you for registering {{ params.form_values.child_name }} for ForeningsMentor.</p>
<p>We hereby confirm that we have received the registration.</p>

<p>We will contact you within 14 days to arrange the next steps.</p>

<p>Best regards,</p>
<p>The ForeningsMentor Team</p>
