<h1>Tak for jeres tilmelding til ForeningsMentor.</h1>
<p>Vi bekræfter, at vi har modtaget tilmeldingen.</p>

<p>Vi vil kontakte jer inden for 14 dage for at aftale det videre forløb.</p>

<p>Venlig hilsen</p>
<p>ForeningsMentor teamet</p>

<p>//</p>

<p>Thank you for registering for ForeningsMentor.</p>
<p>We confirm that we have received your registration.</p>

<p>We will contact you within 14 days to arrange the next steps.</p>

<p>Best regards,</p>
<p>The ForeningsMentor Team</p>
