<div{{ attributes.addClass('row','teasers','bg-orange') }}>
  <div class="col-12 pt-5 pb-5">
    <h2 class="text-center mb-3">{{ elements['#label'] }}</h2>
    <div class="row justify-content-sm-center pt-5">
      {{ content.field_teasers }}
    </div>
  </div>
</div>
