<div{{ attributes.addClass('row','testimonials','bg-white') }}>
  <div class="col-12 pt-5 pb-5">
    <h2 class="text-center mb-5">{{ elements['#label'] }}</h2>
    <div class="row">
      {{ content.field_testimonial }}
    </div>
  </div>
</div>
