<div{{ attributes.addClass('row','efforts','bg-gray') }}>
  <div class="col-12 pt-5 pb-5">
    <h2 class="text-center mb-5">{{ elements['#label'] }}</h2>
    <div class="container">
      <div class="row">
        {{ content.field_effort }}
      </div>
    </div>
  </div>
</div>
