<div class="row">
  <div class="col-6 offset-3 col-sm-3 offset-sm-1 col-lg-2">
    <div class="testimonial-image rounded-circle mb-3">
      {{ content.field_testimonial_image }}
    </div>
  </div>
  <div class="col-10 offset-1 col-sm-7 offset-sm-0 col-lg-8 pt-md-3">
    <blockquote class="testimonial-text mb-3">{{ content.field_testimonial_text[0] }}</blockquote>
    <p class="testimonial-author">{{ content.field_testimonial_author[0] }}</p>
  </div>
</div>
