{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% for item in items[0].content %}
  <div{{ attributes.addClass('col-sm-6','col-md-4','mb-3','contact','text-center','bg-gray','pt-3') }}>
    {# TODO: Get info from system user #}
    <h4 class="mb-3">Gellerup</h4>
    <img class="rounded-circle img-fluid mb-3" width="120" height="120" src="//placehold.it/120x120" alt="Placehold">
    <h5 class="mb-3">{{ item['#label'] }}</h5>
    <p>Hver torsdag sidder hun på Bispehavevej 29, 8210 Aarhus V i Fællesskabernes Hus.</p>
    <p class="mb-0">Mail: <a href="mailto:nan@bosoc.ojba.dk"></a>nan@bosoc.ojba.dk</p>
    <p>Telefon: <a href="tel:27797038"></a>27 79 70 38</p>
  </div>
{% endfor %}
